/* styles/globals.css */

/* @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Allura&family=Great+Vibes&family=Lato&family=Readex+Pro:wght@400;500&family=Roboto:ital,wght@1,300&display=swap'); */

@import url("https://fonts.maateen.me/solaiman-lipi/font.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary-base: #0f172a;
    --color-primary-muted: #1E293B99;
    --color-secondary-base: #0b1120;
    --color-blue-base: #0284c7;
    --color-blue-muted: #0285c732;
    --color-red-base: #e03a45;
    --color-red-muted: #dc3545;
    --color-white-base: #fff;
    --color-white-muted: #64748b;
    --color-black-base: #130f26;
  }
}

:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "SolaimanLipi", Arial, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background-color: #0f172a;
}

.primaryBg {
  background-color: #0f172a;
}

.secondBg {
  background-color: #0b1120;
}

.primaryColor {
  color: #94a3b8;
}

.secondColor {
  color: #e2e8f0;
}

.heading-18 {
  color: #94a3b8;
  font-family: "SolaimanLipi", Arial, sans-serif !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.heading-18 {
  color: #94a3b8;
  font-family: "SolaimanLipi", Arial, sans-serif !important;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.heading-16 {
  color: #94a3b8;
  font-family: "SolaimanLipi", Arial, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.heading-14 {
  color: #f8fafc;
  font-family: "SolaimanLipi", Arial, sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.7px;
}

.heading-28 {
  color: #e2e8f0;
  font-family: "SolaimanLipi", Arial, sans-serif !important;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.75px;
}

.FAQscroll::-webkit-scrollbar {
  width: 8px;
  margin: 2px;
}

.FAQscroll::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
}

.custom_file::-webkit-file-upload-button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  background: #1e293b;
  color: #fff;
  font-family: "SolaimanLipi", Arial, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-right: 18px;
}

.moduleScrollBar::-webkit-scrollbar {
  width: 8px;
  margin: 2px;
}

.moduleScrollBar::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
}
/* customButtonClass */
.customButtonClass {
  background-color: #1e293b !important;
  outline: none;
  border: none;
}
.customButtonClass:hover {
  background-color: transparent !important;
}
.dropdownClass {
  background-color: #1e293b !important;
  color: white;
}
.dropdownStyle {
  background-color: #1e293b !important;
  color: white;
}
.containerClass {
  padding: 8px;
  border-radius: 6px;
}
.containerClass:hover {
  border: 1px solid #0284c7;
}

.react-tel-input .flag-dropdown .selected-flag {
  background-color: transparent !important;
}

.react-tel-input ul li:hover {
  background: #747474 !important;
}

.customButtonClass::-webkit-scrollbar {
  width: 8px;
  margin: 2px;
}

.customButtonClass::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
}

.ReactCollapse--collapse {
  transition: height 800ms;
}

/* video player  */

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
