/* styles/globals.css */

/* @import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Allura&family=Great+Vibes&family=Lato&family=Readex+Pro:wght@400;500&family=Roboto:ital,wght@1,300&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}



body {
  font-family: 'Hind Siliguri';
  font-weight: 400;
  font-style: normal;
  background-color: #0F172A;
}


.primaryBg {
  background-color: #0F172A;
}

.secondBg {
  background-color: #0B1120;
}

.primaryColor {
  color: #94A3B8;
}

.secondColor {
  color: #E2E8F0;
}

.heading-18 {
  color: #94A3B8;
  font-family: Hind Siliguri;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.heading-18 {
  color: #94A3B8;
  font-family: Hind Siliguri;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.heading-16 {
  color: #94A3B8;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.heading-14 {
  color: #F8FAFC;
  font-family: Hind Siliguri;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21.7px;
}

.heading-28 {
  color: #E2E8F0;
  font-family: Hind Siliguri;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.75px;
}



.FAQscroll::-webkit-scrollbar {
  width: 8px;
  margin: 2px;

}

.FAQscroll::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
}


.custom_file::-webkit-file-upload-button {
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  background: #1E293B;
  color: #FFF;
  font-family: Hind Siliguri;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin-right: 18px;
}



.moduleScrollBar::-webkit-scrollbar {
  width: 8px;
  margin: 2px;

}

.moduleScrollBar::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
}
/* customButtonClass */
.customButtonClass {
  background-color: #1E293B !important;
  outline: none;
   border: none;
}
.customButtonClass:hover  {
     background-color: transparent !important;
}
.dropdownClass{
  background-color: #1E293B !important;
  color: white; 

}
.dropdownStyle{
  background-color: #1E293B !important;
  color: white; 
}
.containerClass{
   padding: 8px;
   border-radius: 6px;
}
.containerClass:hover{
   border: 1px solid #0284C7;
}

.react-tel-input .flag-dropdown .selected-flag {
  background-color: transparent !important;
}

.react-tel-input  ul li:hover  {
  background: #747474  !important;

}

.customButtonClass::-webkit-scrollbar {
  width: 8px;
  margin: 2px;

}

.customButtonClass::-webkit-scrollbar-thumb {
  background-color: #747474;
  border-radius: 10px;
}

.ReactCollapse--collapse {
  transition: height 1000ms;
}